server:
  port: 18080

spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/cosmoslog_local
    username: cosmoslog
    password: cosmoslog_local_pw
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    hibernate:
      ddl-auto: update