server:
  port: 18080

spring:
  application:
    name: cosmoslog
  datasource:
    url: jdbc:postgresql://localhost:5432/cosmoslog
    username: cosmoslog
    password: kwohdev132!
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true